@page "/Home"

<PageTitle>Home</PageTitle>

<h1>Sistema de Gestión del Centro Deportivo Universitario</h1>

<p>Bienvenido al sistema de gestión del centro deportivo universitario. Aquí podrás encontrar información sobre las instalaciones, horarios, actividades y mucho más.</p>
